@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.7;
}
p {
  font-family: Ubuntu-Regular, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu-Bold", sans-serif;
  color: #403866;
  margin: 0;
}

/* Links */
a {
  font-family: Ubuntu-Regular, sans-serif;
  color: white;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none;
}

a:hover {
  color: palevioletred;
  text-decoration: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}
 
section#contact {
    padding: 0;
    background-color: #f2f2f2;
}
/* footer */
footer {
  color: white;
}
